doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Games Collection
    a(href='/update-cobj') Add to this table
    table
      thead
        tr
          th Name
          th Genre
          th Publisher
          th Link
      tbody
        each game in games
          tr
            td= game.properties.name
            td= game.properties.genre
            td= game.properties.publisher
            td= game.properties.link